* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    text-align: right;
    list-style-position: inside;
    margin: 3%;
    padding-right: 1%;
    
}

body {
    background-color: #42455a;
}


ul   {

}

ul li   {
    list-style: none;
    display: inline-block;
    

}

ul li a  {
    font-size: 18px;   
    color: white;
    text-align: right;
    list-style-position: inside;
}

li {
    padding-right: 3%;
    font-family: Verdana, Tahoma, sans-serif;
    
}

.Login-btn {
    top: 5%;
    position: absolute;
    text-decoration: none;
    color: #fff;   
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box; 
    background-clip: content-box, border-box; 
}
.Login-btn span {
    display: block;
    padding: 8px 22px;

}

.app-picture {
    width: 50%;
    float: right;
    padding-top: 20%;
    padding: 20%;
    padding-right: 0%;
}



.app-picture img {
    width: 50%;
    float: right;
}

.app-text {
    width: 50%;
    float:left;
    margin-left: 0%;
    
}
.app-text h1{
    font-size:43px;
    width: 640px;
    position: relative;
    margin-left: 0%;

}

.app-text p{
    width: 650px;
    font-size: 15px;
    margin-left: 0%;
    line-height: 25px;
    color: #919191;
    font-family: sans-serif;
    
}