* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    text-align: right;
    list-style-position: inside;
    margin: 3%;
    padding-right: 1%;
    
}

body {
    background-color: #42455a;
}


ul   {

}

ul li   {
    list-style: none;
    display: inline-block;
    

}

ul li a  {
    font-size: 18px;   
    color: white;
    text-align: right;
    list-style-position: inside;
}

li {
    padding-right: 3%;
    font-family: Verdana, Tahoma, sans-serif;
    
}

.Login-btn {
    top: 5%;
    position: absolute;
    text-decoration: none;
    color: #fff;   
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box; 
    background-clip: content-box, border-box; 
}
.Login-btn span {
    display: block;
    padding: 8px 22px;

}

.app-picture {
    width: 50%;
    float: right;
    padding-top: 15%;
}



.app-picture img {
    width: 50%;
    float: right;
}

.app-text {
    width: 250px;
    font-family: arial;
    padding-top: 15%;
    text-align: left;
    padding-right: 5%;  
    

}
.app-text h1{
    font-size: 36px;
    width: 800px;
    margin-left: 0%;
    font-family: arial;
    padding-top: 0%;
    

}

.app-text p{
    width: 800px;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-family: arial;
    padding-top: 20%;
    margin-bottom: 30%;
   
       
}

.Market-btn {
    margin-left: 60%;
    position: relative;
    text-decoration: none;
    color: #fff;   
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a), radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box; 
    background-clip: content-box, border-box;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 43%;
    padding: 8px 22px;

}


